/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.container{
  width: 80%;
}

.column-map,
.column-menu{
  height: 660px;
}

.column-map{
  padding-right: 15px;
}

.column-menu{
  min-height: 300px;
  min-width: 360px;
  background: #eee;
  border-radius: 6px 6px 6px 6px;
  padding: 10px 10px 10px 10px;
}

.effective-map{
  border-style: solid;
  border-color: #eee;
  border-width: 1px;
  border-radius: 6px 6px 6px 6px;
  width: 100%;
  height: 100%;
}

.angular-google-map-container { height: 660px; }

ul.nav-justified li{
  cursor: pointer;
}

.tab-content{
  padding: 30px 30px 10px 10px;
}

table{
  width: 360px;
}

.table-circle,
.table-polygon{
  overflow:scroll; height:300px; width: 100%;
}

.table-polygon{
  margin-top: 15px;
}